build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserdata
Sectiones.xcuserstate
*.xcuserstate
*.xccheckout
*.xcscmblueprint
.build/
.swiftpm/
.DS_Store

